.cart-item-container {
    padding: 0px;
    margin: 40px 20px;
    overflow-x: auto;
    text-align: center;
}

.cart-item-container img {
    height: 100px;
}

.cart-item-container table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.cart-item-container th, td {
    text-align: left;
    padding: 8px;
}
.cart-item-container button {
    margin: 10px;
    padding: 10px
}
.cart-item-container p {
    padding: 10px;
    border: none;
    margin: 20px 5px;
}

.cart-item-container tr:nth-child(even){background-color: #f2f2f2}