.cart-item-container p {
    vertical-align: top
    ;
    display: inline-block;
}

.cart-item-container button {
    display: inline;
    margin: 75px 5px;
}

.cart-item-container .book-detail{
    vertical-align: top;
    height: 180px;
    display: inline-block;
    text-align: center;
}
.cart-item-container .thumbnail {
    height: 180px;
}

.real-price {
    text-decoration-line: line-through; 
    width: 150px;
    margin: 75px 0px 75px 10px;
}

.discount-price {
    width: 150px;
    margin: 75px 10px;
}

.name{
    width: 200px;
    margin: 75px 20px;
}

.author {
    width: 150px;
    margin: 75px 20px;
}

.qty {
    width: 30px;
    margin: 75px 0 75px 0
}
.total {
    width: 100px;
    margin: 75px 5px 75px 5px
}
